<div class="card {{ item.tags }}">
    <div class="card-content">
        <div class="left"><span class="card-title">{{ item.title | replace: '@VERSION@', item.version }}</span>
          {% if item.date %}<time><i class="far fa-calendar-alt"></i>&nbsp;{{item.date}}</time>&nbsp;&nbsp;{% endif %}
          {% if item.years-active %}<time><i class="far fa-calendar-alt"></i>&nbsp;{{item.years-active}}</time>&nbsp;&nbsp;{% endif %}
          {% if item.tags %}<time><i class="fas fa-tags"></i>&nbsp;{{item.tags}}</time>&nbsp;&nbsp;{% endif %}
        </div>
        <div style="clear: both;"></div>
        {% if item.content %}<div>{{ item.content | markdownify }}</div>{% endif %}
        {% if item.keywords %}<p class="keywords">Keywords: {{ item.keywords }}</p>{% endif %}
        {% if item.more-url %}<a href="{{ item.more-url | replace: '@VERSION@', item.version }}" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">Read more</a>{% endif %}
        {% if item.whatsnew-url %}<a href="{{ item.whatsnew-url | replace: '@VERSION@', item.version }}" target="_blank" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">What's New</a>{% endif %}
        {% if item.visualchangelog-url %}<a href="{{ item.visualchangelog-url | replace: '@VERSION@', item.version }}" target="_blank" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">Visual Change Log</a>{% endif %}
    </div>
{% if item.tabs %}
   <div class="card-tabs grey lighten-2">
      <ul class="tabs tabs-transparent tabs-fixed-width">
  {% for tab in item.tabs %}
        <li class="tab">
          <a href="#{{item.id}}_{{tab.id}}">
          {% if tab.id == "linux" %}<i class="fab fa-linux fa-lg"></i>&nbsp;LINUX{% endif %}
          {% if tab.id == "windows" %}<i class="fab fa-windows fa-lg"></i>&nbsp;WINDOWS{% endif %}
          {% if tab.id == "macos" %}<i class="fab fa-apple fa-lg"></i>&nbsp;MAC OS{% endif %}
          {% if tab.id == "docker" %}<i class="fab fa-docker fa-lg"></i>&nbsp;Docker{% endif %}
          {% if tab.id == "core" %}<i class="fas fa-file-archive"></i>&nbsp;CORE{% endif %}
          {% if tab.id == "opp_env" %}<i class="fas fa-cubes"></i>&nbsp;opp_env{% endif %}
          {% if tab.name %}{{tab.name}}{% endif %}
          </a>
        </li>
  {% endfor %}
      </ul>
    </div>
    <div class="card-content">
  {% for tab in item.tabs %}
      <div id="{{item.id}}_{{tab.id}}">
          {% if tab.description %}
            <div style="margin-bottom: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">
              {{ tab.description | replace: '@VERSION@', item.version | markdownify }}
            </div>
          {% endif %}

          {% if tab.downloads %}
            <div class="architecture-list">

              {% for download in tab.downloads %}
                <div class="architecture-item" style="margin-bottom: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">                  
                  
                  <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px;">
                    <div style="min-width: 180pt;">
                      {% if download.opp_env %}
                        <a class="waves-effect waves-light green darken-3 btn-small" style="margin-bottom: 5px; width: 180pt;" onclick="M.Tabs.getInstance(document.querySelector('.tabs')).select('{{item.id}}_opp_env')">
                          <i class="fas fa-cubes right"></i>Use opp_env
                        </a>
                      {% endif %}
                      {% if download.download-file-url %}
                        {% assign download_url = download.download-file-url | replace: '@VERSION@', item.version %}
                        <a href="{{ download_url }}" class="waves-effect waves-light green darken-3 btn-small" style="margin-bottom: 5px; width: 180pt;" onClick="if (typeof ga != 'undefined') { ga('send', 'event', 'omnetpp-download', 'download', '{{ download_url }}', null, null);}">
                          <i class="fas fa-download right"></i>Download {% if download.arch != 'generic' %}({{ download.arch }}){% endif %}
                        </a>
                      {% endif %}
                    </div>
                    
                    <div style="flex-grow: 1;">
                      {% if download.opp_env %}
                        {{ download.brief | replace: '@VERSION@', item.version | markdownify }}
                      {% endif %}

                      {% if download.download-file-url %}
                        {% assign filename = download.download-file-url | replace: '@VERSION@', item.version | split: '/' | last %}
                        <div><strong>File:</strong> {{ filename }}
                                    {% if download.filesize %}({{download.filesize | divided_by: 1048576}}MB){% endif %}
                        </div>
                        {% if download.sha256 %}<div><strong>SHA256:</strong> {{download.sha256}}</div>{% endif %}
                      {% endif %}
                    </div>
                  </div>
                  
                  {% if download.description %}<div style="margin-top: 10px;">{{download.description | replace: '@VERSION@', item.version | markdownify }}</div>{% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          
          <div style="clear: both"></div>
      </div>
  {% endfor %}
    </div>
{% endif %}
</div>
