<div class="card {{ item.tags }}">
    <div class="card-content">
        <div class="left"><span class="card-title">{{ item.title }}</span>
          {% if item.date %}<time><i class="far fa-calendar-alt"></i>&nbsp;{{item.date}}</time>&nbsp;&nbsp;{% endif %}
          {% if item.years-active %}<time><i class="far fa-calendar-alt"></i>&nbsp;{{item.years-active}}</time>&nbsp;&nbsp;{% endif %}
          {% if item.tags %}<time><i class="fas fa-tags"></i>&nbsp;{{item.tags}}</time>&nbsp;&nbsp;{% endif %}
        </div>
        <div style="clear: both;"></div>
        {% if item.content %}<div>{{ item.content | markdownify }}</div>{% endif %}
        {% if item.keywords %}<p class="keywords">Keywords: {{ item.keywords }}</p>{% endif %}
        {% if item.more-url %}<a href="{{ item.more-url }}" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">Read more</a>{% endif %}
        {% if item.whatsnew-url %}<a href="{{ item.whatsnew-url }}" target="_blank" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">What's New</a>{% endif %}
        {% if item.visualchangelog-url %}<a href="{{ item.visualchangelog-url }}" target="_blank" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">Visual Change Log</a>{% endif %}
    </div>
{% if item.tabs %}
   <div class="card-tabs grey lighten-2">
      <ul class="tabs tabs-transparent tabs-fixed-width">
  {% for tab in item.tabs %}
        <li class="tab">
          <a href="#{{item.id}}_{{tab.id}}">
          {% if tab.id == "linux" %}<i class="fab fa-linux fa-lg"></i>&nbsp;LINUX{% endif %}
          {% if tab.id == "windows" %}<i class="fab fa-windows fa-lg"></i>&nbsp;WINDOWS{% endif %}
          {% if tab.id == "macos" %}<i class="fab fa-apple fa-lg"></i>&nbsp;MAC OS{% endif %}
          {% if tab.id == "docker" %}<i class="fab fa-docker fa-lg"></i>&nbsp;Docker{% endif %}
          {% if tab.id == "core" %}<i class="fas fa-file-archive"></i>&nbsp;CORE{% endif %}
          {% if tab.id == "opp_env" %}<i class="fas fa-cubes"></i>&nbsp;opp_env{% endif %}
          {% if tab.name %}{{tab.name}}{% endif %}
          </a>
        </li>
  {% endfor %}
      </ul>
    </div>
    <div class="card-content">
  {% for tab in item.tabs %}
      <div id="{{item.id}}_{{tab.id}}">
          {% if tab.description %}
            <div style="margin-bottom: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">
              {{tab.description}}
            </div>
          {% endif %}

          {% if tab.opp-env-command %}
          <div style="margin-bottom: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">
            <div>
              1. On Linux and macOS, install the <a href="https://nixos.org/download/" target="_blank">NIX</a> package manager.
              <div class="copy-container">
                <code class="highlighter-rouge content" style="font-size: 0.9rem;">sh <(curl --proto '=https' --tlsv1.2 -L https://nixos.org/nix/install) --daemon</code>
                <button class="copy-button waves-effect waves-dark btn-flat" style="padding: 0px 2px;"><i class="fa-regular fa-copy grey-text text-darken-3" style="background-color: transparent;"></i></button>
              </div>
            </div>

            <div>
              2. Install the <a href="https://github.com/omnetpp/opp_env/blob/main/INSTALL.md" target="_blank">opp_env</a> package manager:
              <div class="copy-container">
                <code class="highlighter-rouge content" style="font-size: 0.9rem;">python3 -m pip install opp-env</code>
                <button class="copy-button waves-effect waves-dark btn-flat" style="padding: 0px 2px;"><i class="fa-regular fa-copy grey-text text-darken-3" style="background-color: transparent;"></i></button>
              </div>
            </div>

            <div>
              3. Use <a href="https://github.com/omnetpp/opp_env/blob/main/README.md#usage" target="_blank">opp_env</a> to create a workspace:
              <div>
                <span class="copy-container" style="margin-bottom: 20px;">
                  <code class="highlighter-rouge content" style="font-size: 0.9rem;">mkdir workspace && cd workspace && opp_env init</code>
                  <button class="copy-button waves-effect waves-dark btn-flat"  style="font-size: 75%; padding: 0px 2px; "><i class="fa-regular fa-copy grey-text text-darken-3"></i></button>
                </span>
              </div>
              then install OMNeT++:
              <div>
                <span class="copy-container" style="margin-bottom: 20px;">
                  <code class="highlighter-rouge content" style="font-size: 0.9rem;">{{ tab.opp-env-command }}</code>
                  <button class="copy-button waves-effect waves-dark btn-flat"  style="font-size: 75%; padding: 0px 2px; "><i class="fa-regular fa-copy grey-text text-darken-3"></i></button>
                </span>
      
                {% if item.category == "omnetpp-current" %}
                <span class="copy-container" style="margin-bottom: 20px;">
                  or <code class="highlighter-rouge content">opp_env install omnetpp-latest</code>
                  <button class="copy-button waves-effect waves-dark btn-flat" style="padding: 0px 2px;"><i class="fa-regular fa-copy grey-text text-darken-3"></i></button>
                </span>
                {% endif %}
              </div>
            </div>
          </div>    
          {% endif %}

          {% if tab.downloads %}
            <div class="architecture-list">

              {% for download in tab.downloads %}
                <div class="architecture-item" style="margin-bottom: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">                  
                  
                  <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px;">
                    <div style="min-width: 180pt;">
                      {% if download.opp_env %}
                        <a class="waves-effect waves-light green darken-3 btn-small" style="margin-bottom: 5px; width: 180pt;" onclick="M.Tabs.getInstance(document.querySelector('.tabs')).select('{{item.id}}_opp_env')">
                          <i class="fas fa-cubes right"></i>Use opp_env
                        </a>
                      {% endif %}
                      {% if download.download-file-url %}
                        <a href="{{ download.download-file-url }}" class="waves-effect waves-light green darken-3 btn-small" style="margin-bottom: 5px; width: 180pt;" onClick="if (typeof ga != 'undefined') { ga('send', 'event', 'omnetpp-download', 'download', '{{ download.download-file-url }}', null, null);}">
                          <i class="fas fa-download right"></i>Download {% if download.arch != 'generic' %}({{ download.arch }}){% endif %}
                        </a>
                      {% endif %}
                    </div>
                    
                    <div style="flex-grow: 1;">
                      {% if download.opp_env %}
                        {{ download.brief }}
                      {% endif %}

                      {% if download.download-file-url %}
                        {% assign filename = download.download-file-url | split: '/' | last %}
                        <div><strong>File:</strong> {{ filename }}
                                    {% if download.filesize %}({{download.filesize | divided_by: 1048576}}MB){% endif %}
                        </div>
                        {% if download.sha256 %}<div><strong>SHA256:</strong> {{download.sha256}}</div>{% endif %}
                      {% endif %}
                    </div>
                  </div>
                  
                  {% if download.description %}<div style="margin-top: 10px;">{{download.description}}</div>{% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          
          <div style="clear: both"></div>
      </div>
  {% endfor %}
    </div>
{% endif %}
</div>
