
<div class="right filtertags">
  <div class="chip z-depth-1 waves-effect">featured</div>
  <div class="chip z-depth-1 waves-effect">standalone</div>
  <div class="chip z-depth-1 waves-effect">framework</div>
  <div class="chip z-depth-1 waves-effect">inet4</div>
  <div class="chip z-depth-1 waves-effect">inet3</div>
  <div class="chip z-depth-1 waves-effect">inet2</div>
  <div class="chip z-depth-1 waves-effect">inet1</div>
  <div class="chip z-depth-1 waves-effect">veins</div>
  <div class="chip z-depth-1 waves-effect">omnetpp5</div>
  <div class="chip z-depth-1 waves-effect">omnetpp4</div>
  <div class="chip z-depth-1 waves-effect">omnetpp3</div>
  <div class="chip z-depth-1 waves-effect">omnetpp2</div>
  <div class="chip z-depth-1 waves-effect">merged</div>
  <div class="chip z-depth-1 waves-effect">superseded</div>
</div>
<div class="clearfix"></div>
