<div class="card {{ item.tags }}">
    <div class="card-content">
        {% capture titleclass %}
            {% if item.tags contains 'featured' %}featured1{% endif %}
            {% if item.tags contains 'merged' or item.tags contains 'superseded' %}superseded1{% endif %}
        {% endcapture %}
        <div class="left"><span class="card-title {{titleclass | strip}}">{{ item.title }}</span>
          {% if item.date %}<time><i class="far fa-calendar-alt"></i>&nbsp;{{item.date}}</time>&nbsp;&nbsp;{% endif %}
          {% if item.years-active %}<time><i class="far fa-calendar-alt"></i>&nbsp;{{item.years-active}}</time>&nbsp;&nbsp;{% endif %}
          {% if item.tags %}<time><i class="fas fa-tags"></i>&nbsp;{{item.tags}}</time>&nbsp;&nbsp;{% endif %}
        </div>
        <div class="right">
        {% unless item.tabs %}
            {% if item.website-url %}<a href="{{ item.website-url }}" target="_blank" class="waves-effect blue-grey btn-small" style="margin-left: 10px"><i class="fas fa-globe right"></i>Website</a>{% endif %}
            {% if item.github-url %}<a href="{{ item.github-url }}" target="_blank" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fab fa-github right"></i>GitHub</a>{% endif %}
            {% if item.torrent-url %}<a href="{{ item.torrent-url }}" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fas fa-cloud-download-alt right"></i>Torrent</a>{% endif %}
            {% if item.download-file-url %}<a href="{{ item.download-file-url }}" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fas fa-download right"></i>Download</a>{% endif %}
            {% if item.download-page-url %}<a href="{{ item.download-page-url }}" target="_blank" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fas fa-folder-open right"></i>Download</a>{% endif %}
        {% endunless %}
        </div>
        <div style="clear: both;"></div>
        {% if item.content %}<div>{{ item.content | markdownify }}</div>{% endif %}
        {% if item.keywords %}<p class="keywords">Keywords: {{ item.keywords }}</p>{% endif %}
        {% if item.more-url %}<a href="{{ item.more-url }}" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">Read more</a>{% endif %}
        {% unless item.tabs %}
        <div>
          {% if item.filesize %}Size:&nbsp;{{item.filesize | divided_by: 1048576}}MB&nbsp;&nbsp;{% endif %}
          {% if item.md5 %}MD5:&nbsp;{{item.md5}}&nbsp;&nbsp;{% endif %}
          {% if item.sha1 %}SHA1:&nbsp;{{item.sha1}}&nbsp;&nbsp;{% endif %}
        </div>
          {% if item.ipfs %}<div><a class="black-text" style="text-decoration: underline;" href="https://docs.ipfs.io/introduction/install/" target="_blank">IPFS</a>: {{item.ipfs}}</div>{% endif %}
        {% endunless %}
    </div>
{% if item.tabs %}
   <div class="card-tabs grey lighten-2">
      <ul class="tabs tabs-transparent tabs-fixed-width">
  {% for tab in item.tabs %}
        <li class="tab">
          <a href="#{{item.id}}_{{tab.id}}">
          {% if tab.id == "linux" %}<i class="fab fa-linux fa-lg"></i>&nbsp;LINUX{% endif %}
          {% if tab.id == "windows" %}<i class="fab fa-windows fa-lg"></i>&nbsp;WINDOWS{% endif %}
          {% if tab.id == "macos" %}<i class="fab fa-apple fa-lg"></i>&nbsp;MAC OS{% endif %}
          {% if tab.id == "core" %}<i class="fas fa-file-archive"></i>&nbsp;CORE (Without IDE){% endif %}
          {% if tab.name %}{{tab.name}}{% endif %}
          </a>
        </li>
  {% endfor %}
      </ul>
    </div>
    <div class="card-content">
  {% for tab in item.tabs %}
      <div id="{{item.id}}_{{tab.id}}">
          {% if tab.download-file-url %}<a href="{{ tab.download-file-url }}" class="waves-effect waves-light green darken-3 btn-small right" style="margin-left: 10px"><i class="fas fa-download right"></i>Download</a>{% endif %}
          {% if tab.download-page-url %}<a href="{{ tab.download-page-url }}" target="_blank" class="waves-effect waves-light green darken-3 btn-small right" style="margin-left: 10px"><i class="fas fa-folder-open right"></i>Download</a>{% endif %}
          {% if tab.torrent-url %}<a href="{{ tab.torrent-url }}" class="waves-effect waves-light green darken-3 btn-small right" style="margin-left: 10px"><i class="fas fa-cloud-download-alt right"></i>Torrent</a>{% endif %}
          {% if item.website-url %}<a href="{{ item.website-url }}" target="_blank" class="waves-effect blue-grey btn-small right" style="margin-left: 10px"><i class="fas fa-globe right"></i>Website</a>{% endif %}
          {% if item.github-url %}<a href="{{ item.github-url }}" target="_blank" class="waves-effect waves-light green darken-3 btn-small right" style="margin-left: 10px"><i class="fab fa-github right"></i>GitHub</a>{% endif %}
          <div>
          {% if tab.filesize%}Size:&nbsp;{{tab.filesize | divided_by: 1048576}}MB&nbsp;&nbsp;{% endif %}
          {% if tab.md5 %}MD5:&nbsp;{{tab.md5}}&nbsp;&nbsp;{% endif %}
          {% if tab.sha1 %}SHA1:&nbsp;{{tab.sha1}}&nbsp;&nbsp;{% endif %}
          </div>
          {% if tab.ipfs %}<div><a class="black-text" style="text-decoration: underline;" href="https://docs.ipfs.io/introduction/install/" target="_blank">IPFS</a>: {{tab.ipfs}}</div>{% endif %}
          {% if tab.description %}<div>{{tab.description}}</div>{% endif %}
          <div style="clear: both"></div>
      </div>
  {% endfor %}
    </div>
{% endif %}
</div>
