{% assign itemId = item.url | remove: '/download-items/' | remove: '.html' %}
<li class="collapsible-item" data-tags="{{ item.tags }}" id="{{itemId}}">
    <div style="position: relative;">
        {% capture titleclass %}
            {% if item.tags contains 'featured' %}featured1{% endif %}
            {% if item.tags contains 'merged' or item.tags contains 'superseded' %}superseded1{% endif %}
        {% endcapture %}
        {% assign titleclass = titleclass | strip %}

        <div class="collapsible-header">
            <div style="width: 100%">
                <div class="right" style="padding: 0.5rem;" >
                        {% if item.opp-env-command %}<a  class="waves-effect waves-light yellow darken-4 btn-small" style="margin-left: 10px"><i class="fas fa-solid fa-wand-sparkles right"></i><span>Install</span></a>{% endif %}
                        {% if item.website-url %}<a href="{{ item.website-url }}" target="_blank" class="waves-effect blue-grey btn-small" style="margin-left: 10px"><i class="fas fa-globe right"></i><span>Website</span></a>{% endif %}
                        {% if item.github-url %}<a href="{{ item.github-url }}" target="_blank" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fab fa-github right"></i><span>GitHub</span></a>{% endif %}
                        {% if item.torrent-url %}<a href="{{ item.torrent-url }}" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fas fa-cloud-download-alt right"></i><span>Torrent</span></a>{% endif %}
                        {% if item.download-file-url %}<a href="{{ item.download-file-url }}" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fas fa-download right"></i><span>Download</span></a>{% endif %}
                        {% if item.download-page-url %}<a href="{{ item.download-page-url }}" target="_blank" class="waves-effect waves-light green darken-3 btn-small" style="margin-left: 10px"><i class="fas fa-folder-open right"></i><span>Download</span></a>{% endif %}
                    </div>
                <span class="{{titleclass}}">{{ item.title }}</span>&nbsp;
                <time>({{ item.date | strip }}{% if item.date and item.years-active %},
                    {% endif %}{{ item.years-active | strip }}{% if item.date or item.years-active %},
                    {% endif %}{{ item.tags | strip }})
                </time>
            </div>
        </div>
    </div>
    <div class="collapsible-body">
    <div>
        <a href="{{item.url}}" class="right"><i class="material-icons grey-text" title="Permalink">open_in_new</i></a>
        {% if item.opp-env-command %}
          <div class="copy-container" style="margin-bottom: 20px;">Recommended installation: <code class="highlighter-rouge content" style="font-size: 0.8rem;">{{ item.opp-env-command | replace:'opp_env','<a href="https://oppenv.omnetpp.org/" target="_blank">opp_env</a>' }}</code>
          <button class="copy-button waves-effect waves-dark btn-flat grey lighten-3" style="padding: 0px 2px;">
            <i class="fa-regular fa-copy grey-text text-darken-3"></i>
          </button>
          </div>
        {% endif %}

        {{ item.content | markdownify }}
        {% if item.keywords %}<p class="keywords">Keywords: {{ item.keywords }}</p>{% endif %}
    </div>
    {% if item.more-url %}<a href="{{ item.more-url }}" class="waves-effect btn-small black-text grey lighten-2" style="margin-top: 4px;">Read more</a>{% endif %}
    <p>
      {% if item.filesize %}Size:&nbsp;{{item.filesize | divided_by: 1048576}}MB&nbsp;&nbsp;{% endif %}
      {% if item.md5 %}MD5:&nbsp;{{item.md5}}&nbsp;&nbsp;{% endif %}
      {% if item.sha1 %}SHA1:&nbsp;{{item.sha1}}&nbsp;&nbsp;{% endif %}
    </p>
      {% if item.ipfs %}<p><a class="black-text" style="text-decoration: underline;" href="https://docs.ipfs.io/introduction/install/" target="_blank">IPFS</a>: {{item.ipfs}}</p>{% endif %}
    </div>
</li>
