  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5>About OMNeT++</h5>
          <p class="grey-text text-lighten-4">OMNeT++ is an extensible, modular, component-based C++ simulation library and framework, primarily for building network simulators.</p>
        </div>
        <div class="col l3 s12">
          <h5>Connect</h5>
          <ul>
            <li><a class="white-text" href="/mailing-list"><i class="fas fa-envelope"></i>&ensp;Mailing list</a></li>
            <li><a class="white-text" href="https://stackoverflow.com/questions/tagged/omnet++" target="_blank"><i class="fab fa-stack-overflow" style="padding: 0 2px;"></i>&ensp;Stack Overflow</a></li>
            <li><a class="white-text" href="https://gitter.im/omnetpp/community" target="_blank"><i class="fab fa-gitter" style="padding: 0 2px;"></i>&ensp;Gitter</a></li>
            <li><a class="white-text" href="/bugtracker"><i class="fas fa-bug"></i>&ensp;Bug tracker</a></li>
            <li><a class="white-text" href="https://twitter.com/omnetpp" target="_blank"><i class="fab fa-twitter"></i>&ensp;Twitter</a></li>
          </ul>
        </div>
        <div class="col l4 s12">
            <h5>Related links</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/omnetpp/omnetpp" target="_blank"><i class="fab fa-github" style="padding: 0 2px;"></i>&ensp;OMNeT++ on Github</a></li>
              <li><a class="white-text" href="https://hub.docker.com/r/omnetpp/omnetpp" target="_blank"><i class="fab fa-docker"></i>&ensp;OMNeT++ on Docker Hub</a></li>
              <li><a class="white-text" href="https://summit.omnetpp.org" target="_blank"><i class="fas fa-users"></i>&ensp;OMNeT++ Summits</a></li>
              <li><a class="white-text" href="https://inet.omnetpp.org" target="_blank"><i class="fas fa-network-wired"></i>&ensp;INET Framework</a></li>
              <li><a class="white-text" href="https://omnest.com" target="_blank"><i class="fas fa-phone" style="padding: 0 2px;"></i>&ensp;Commercial version</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                This website is hosted on <a target="_blank" class="orange-text text-lighten-3" href="https://github.com/omnetpp/omnetpp.org">GitHub</a>.
                <span style="text-align: right; float: right">
                Copyright © 2001-2019. <a href="https://omnetpp.org" class="orange-text text-lighten-3">OpenSim Ltd.</a>
                </span>
            </div>
        </div>
    </div>
  </footer>