<!--  Scripts-->
<script src="{{ "js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "js/materialize.min.js" | relative_url }}"></script>
<script src="{{ "js/init.js" | relative_url }}"></script>

<script type="">
function applyChipFiltering() {
    var chips = $(".chip.blue-grey");
    var tags = chips.map((index, element) => { return $(element).text(); }).get();

    downloadItems = $("div.card").add($("li.collapsible-item"));
    downloadItems.each((index, element) => {
        var enable =
            (!tags.includes("featured") || $(element).hasClass("featured")) &&
            (!tags.includes("standalone") || $(element).hasClass("standalone")) &&
            (!tags.includes("framework") || $(element).hasClass("framework")) &&

            (
                (!tags.includes("inet4") && !tags.includes("inet3") && !tags.includes("inet2") && !tags.includes("inet1")) ||
                    (tags.includes("inet4") && $(element).hasClass("inet4")) ||
                    (tags.includes("inet3") && $(element).hasClass("inet3")) ||
                    (tags.includes("inet2") && $(element).hasClass("inet2")) ||
                    (tags.includes("inet1") && $(element).hasClass("inet1"))
            ) &&

            (
                (!tags.includes("omnetpp5") && !tags.includes("omnetpp4") && !tags.includes("omnetpp3") && !tags.includes("omnetpp2")) ||
                    (tags.includes("omnetpp5") && $(element).hasClass("omnetpp5")) ||
                    (tags.includes("omnetpp4") && $(element).hasClass("omnetpp4")) ||
                    (tags.includes("omnetpp3") && $(element).hasClass("omnetpp3")) ||
                    (tags.includes("omnetpp2") && $(element).hasClass("omnetpp2"))
            ) &&

            (!tags.includes("veins") || $(element).hasClass("veins")) &&
            (!tags.includes("merged") || $(element).hasClass("merged")) &&
            (!tags.includes("superseded") || $(element).hasClass("superseded"));

        if (enable)
           $(element).slideDown();
        else
           $(element).slideUp();
    });
}
</script>

