@charset "utf-8";

// Color
@import "materialize/components/color-variables";
@import "materialize/components/color-classes";

// Variables;
@import "materialize/components/variables";

/* card customization */
.download-cards .card .card-content { padding: 1rem; }
.download-cards .card .card-content p { margin: 0.5rem 0; }
.download-cards .card .card-content time { position: relative; top: -8px; }
.download-list .collapsible-body { padding: 0.5rem 1rem; }
.download-list .collapsible-item p { margin: 0.5rem 0; }
.download-list .collapsible-item .card-content { padding: 1rem 0 0 0; }
.download-list .collapsible-item { background-color: color("grey", "lighten-3"); }
.download-list .collapsible-header { padding: 0.7rem; }

ul.collapsible>li.collapsible-item { list-style-type: none; }
.content ul.tabs, .content ul.collapsible { padding-left: 0; }

/* inside the content we need the default ul/li behavior */
.content ul { padding-left: 20px; }
.content ul>li { list-style-type: disc; }
.content ul ul>li { list-style-type: circle; }

.white-underlined-link a { color: white; text-decoration: underline; }

/* sticky footer - keep the footer at bottom regardless of content size  */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content { flex: 1 0 auto; }

strong {
    font-weight: 600; /* Materialize's 500 gives inconsistent results across browsers */
}

.download-list .featured1::after {
    content: " ★";
}

.download-list .superseded1 {
    color: grey;
    text-decoration: line-through;
}

@media only screen and (max-width : 800px) {
    .download-list a {
        >i.right {
            margin-left: 0;
        }
        >span {
            display: none;
        }
    }
}

nav a.brand-logo {
    color: $primary-color;
    font-family: trebuchet ms,sans-serif;
    font-weight: bold;
    padding-left: 15px;
}
.banner {
    font-family: trebuchet ms,sans-serif;
    background-image: url('/images/bluepuzzle.jpg');
    background-size: 100%;
    background-position: center;
    text-shadow: 0px 0px 10px black;
    padding: 15px;
    margin: 24px 0 24px 0px;
}
.featured-projects {
    padding: 5px 15px 10px 15px;
}
.banner .featured-projects {
    margin: 0px;
    color: black;
    background: rgba(255,255,255,0.6);
}
.news {
    padding-left: 16px;
}
.news-item {
    padding-bottom: 2.5em;
}
.post-header .title {
    font-size: 1.5em;
    font-weight: 600;
}
time {
    color: #808080;
    font-size: 0.7rem;
    line-height: 2.5;
}
.keywords {
    color: #808080;
    font-size: 0.7rem;
    line-height: 2.5;
}

/* make the front page container 70% width if the lines would be too long to read */
.frontcontainer { width: 70%; }
@media only screen and (max-width : 1600px) {
    .frontcontainer {
        width: 100% !important;
    }
}

.filtertags .chip {
    cursor: pointer;
}
.filtertags {
    margin: 0 18px;
    text-align: right;
}

p.captioned_image {
    img { display: block; margin: auto; }
    em { display: block; text-align: center; }
}
