---
layout: default
---
<div class="container content row blog">
  <div class="col m9">
    <div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            <i class="far fa-calendar-alt"></i>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
          {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
          {% endif %}</p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
    </div>
  </div>
</div>
