---
layout: default
---
<div class="container latest-posts">
    <section>
      {{ content }}
        <div class="section">

            <div class="news content">
              {% assign counter = '' %}
              {% for post in site.categories.blog %}
              <div class="news-item">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <div class="post-header">
                  <div class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></div>
                  <div class="post-meta">
                    <time><i class="far fa-calendar-alt"></i>&nbsp;{{ post.date | date: date_format }}</time>
                    {% if post.author %}
                      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
                    {% endif %}
                  </div>
                </div>

                {% if post.excerpt != post.content %}
                  <div>
                  {{ post.excerpt }}
                  </div>
                  <a class="btn-small waves-effect grey lighten-2 black-text" href="{{ post.url | relative_url }}">Read more</a>
                {% else %}
                  {{ post.content }}
                {% endif %}
                {% capture counter %}{{ counter | append:'.' }}{% endcapture %}
              </div>
              {% endfor %}
            </div>
          </div>
    </section>
</div>
