---
layout: default
---
<div class="container latest-posts">
    <section>
      {{ content }}
      <table>
        {% assign posts = site.posts | where_exp: "post", "post.category != 'blog'" %}
        {% for post in posts %}
        <tr>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <td class="post-header"><time><i class="far fa-calendar-alt"></i>&nbsp;{{ post.date | date: date_format }}</time></td>
          <td><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
          </p>
        </tr>
        {% endfor %}
      </table>
    </section>
</div>
